/** Cleaner all elements CSS **/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead {border:0;font-size:100%;background:transparent;text-decoration: none;margin:0;padding:0;outline: none;}
ol,ul {list-style:none;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:none;}
ins {text-decoration:none;}
table {border-collapse:collapse;border-spacing:0; border-color:#CFCCB5;}
sup {font-size: 75%; vertical-align:baseline;position:relative;top:-.4em;}
sub {font-size: 75%;vertical-align:baseline;position:relative;bottom:-.4em;}

/* Site Style */
HTML{
	overflow-x: hidden;
}
.bl{
  width: 370px;
}


@font-face {
	font-family: 'bicubik';
	src: url('bicubik.ttf') format('truetype');}


BODY{
	font-family: bicubik;
	font-size: 12px;
	letter-spacing: 1px;
}
#Loading{
	position: fixed;
	top:10px;
	left: 10px;
	background:red;
	color:#fff;
	font-weight: bold;
	display: block;
	z-index: 999;
 	padding: 10px;
}

#Underwater{
	background: url('Underwater.jpg') no-repeat center bottom;
	min-height: 840px;
	min-width:1024px;
	z-index: 2;
	overflow-x: hidden;	
}
#uwc{
	background: url('puziri.gif') repeat-y center bottom;
	min-height: 840px;
	min-width:1024px;
	z-index: 1;
	overflow-x: hidden;	
}
#Sea{
	background: transparent url('Sea.jpg') no-repeat center top;
	height: 100%;
	min-width:1024px;
	z-index:2;		
}
#Light{
	height: 320px;
	width: 100%;
	position: absolute;
	top: 250px;
	display: block;
	left:0px;
	z-index: 3;
}
#Container{
	display: block;
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 4;	
}
#Header{
	display: block;
	height: 200px;
}
#Header A.Logo{
	display: block;
	height: 130px;
	margin-left: 35px;
	margin-top: 60px;
	position: absolute;
	width: 210px;
}
#Header A.vk1{
	display: block;
	height: 60px;
	margin-left: 170px;
	margin-top: 0px;
	position: absolute;
	width: 157px;
	border: 2px;
	border-color: red;
	z-index: 100;
}
#Header UL{
	position: absolute;
	display: block;
	margin-top: 31px;
	margin-left: 105px;

}
#Header UL LI{
	display: block;
	float: left;
	
}
#Header UL LI A{
	display: block;
	background-image: url('Menu.gif');
	background-repeat: no-repeat;
	height: 15px;

}
A.Menu-11{
	width: 140px;
	background-position: -1016px 0px;
	margin-left: -3px;
}
A:hover.Menu-11, A.Sel.Menu-11 {
	background-position: -1016px -17px;
}
A.Menu-12{
	width: 209px;
background-position: -1162px 0px;
margin-left: 10px;
}
A:hover.Menu-12, A.Sel.Menu-12 {
	background-position: -1162px -17px;
}
A.Menu-13{
	width: 109px;
background-position: -1373px 0px;
margin-left: 4px;
}
A:hover.Menu-13, A.Sel.Menu-13 {
	background-position: -1373px -17px;
}
A.Menu-14{
	width: 84px;
	background-position: -936px 0px;
	margin-left: 7px;
}
A:hover.Menu-14, A.Sel.Menu-14 {
	background-position: -936px -17px;
}
A.Menu-15{
	width: 106px;
	background-position: -828px 0px;
	margin-left: -55px;
}
A:hover.Menu-15, A.Sel.Menu-15 {
	background-position: -828px -17px;
}

#Header UL LI A B{
	display: none;
}

#Header H1{
	position: absolute;
	display: none;
	margin-left: 296px;
	margin-top: 103px;
	color: #616394;
	font-size: 19px;
	font-weight: bold;	
}
#Header DL{
	position: relative;
	display: none;
	float: right;
	margin-right: 30px;
	margin-top: 11px;	
	color: #36424b;
	text-align: right;
	font-size: 15px;
	line-height: 19px;
}
#Header DL B{
	font-size: 18px;
	color: red;
	padding-left: 3px;
	padding-right: 3px;	
}
#Header DT{
	position: absolute;
	display: none;
	width: 365px;
	margin-left: 600px;
	margin-top: 76px;
	color: #36424b;
	font-size: 15px;
	text-align: right;	
}
#Header DT A{
	display: none;
}
#Menu{
	display: block;
	
	height: 90px;
	width: 929px;
	margin-left: 36px;	
}
#Menu UL{
	position: absolute;
	margin-top: 45px;
}
#Menu UL LI{
	float: left;
	display: block;	
}
#Menu UL LI A{
	display: block;
	background-image: url('Menu.gif');
	background-repeat: no-repeat;
	height: 15px;
}
A.Menu-1{
	width: 60px;
	background-position: -4px 0px;
	margin-left: 20px;
}
A:hover.Menu-1, A.Sel.Menu-1 {
	background-position: -4px -17px;
}
A.Menu-2{
	width: 87px;
	background-position: -62px 0px;
	margin-left: 0px;
}
A:hover.Menu-2, A.Sel.Menu-2 {
	background-position: -62px -17px;
}
A.Menu-3{
	width: 89px;
background-position: -159px 0px;
margin-left: 10px;
}
A:hover.Menu-3, A.Sel.Menu-3 {
	background-position: -159px -17px;
}
A.Menu-4{
	width: 86px;
	background-position: -259px 0px;
	margin-left: 11px;
}
A:hover.Menu-4, A.Sel.Menu-4 {
	background-position: -259px -17px;
}
A.Menu-5{
	width: 63px;
	background-position: -356px 0px;
	margin-left: 11px;
}
A:hover.Menu-5, A.Sel.Menu-5 {
	background-position: -356px -17px;
}
A.Menu-6{
	width: 94px;
	background-position: -426px 0px;
	margin-left: 11px;
}
A:hover.Menu-6, A.Sel.Menu-6 {
	background-position: -426px -17px;
}
A.Menu-7{
	width: 72px;
	background-position: -531px 0px;
	margin-left: 11px;
}
A:hover.Menu-7, A.Sel.Menu-7 {
	background-position: -531px -17px;
}
A.Menu-8{
	width: 100px;
	background-position: -613px 0px;
	margin-left: 11px;
}
A:hover.Menu-8, A.Sel.Menu-8 {
	background-position: -613px -17px;
}
A.Menu-9{
	width: 98px;
	background-position: -725px 0px;
	margin-left: 11px;
}
A:hover.Menu-9, A.Sel.Menu-9 {
	background-position: -725px -17px;
}
A.Menu-10{
	width: 0px;
	background-position: -743px 0px;
	margin-left: 11px;
}
A:hover.Menu-10, A.Sel.Menu-10 {
	background-position: -743px -17px;
}

A.Menu-31{
	width: 0px;
	background-position: -1413px 0px;
	margin-left: 5px;
}
A:hover.Menu-31, A.Sel.Menu-31 {
	background-position: -1413px -17px;
}

A.Menu-32{
	width: 0px;
	background-position: -1336px 0px;
	margin-left: 9px;
}
A:hover.Menu-32, A.Sel.Menu-32 {
	background-position: -1336px -17px;
}

#Menu UL LI A B{
	display: none;
}

#Menu .MenuL{
	display: block;
	position: absolute;
	width: 202px;
	height: 188px;
	left: -165px;
	z-index: 10;
}
#Menu .MenuR{
	display: block;
	position: absolute;
	width: 202px;
	height: 188px;
	right: -166px;
	z-index: 10;
}
#Page{
	display: block;
	min-height: 400px;
	width: 1000px;
}
#Content{
	display: block;
	position: relative;
	float: left;
	min-height: 100px;
	width: 928px;
	margin-left: 36px;
	background-color: #fff;
}

#Content .Title{
	display: block;
	position: relative;
	width: 100%;
	height: 30px;
	background: url('Title.jpg') no-repeat 0 0;
}
#Content .TitleNews{
	display: block;
	position: relative;
	width: 100%;
	height: 14px;
	background: url('TitleNews.jpeg') no-repeat;
}


.Checkout .Title{
	margin-top: 20px;
}
.Checkout .Carts{
	display: block;
	position: absolute;
	width: 115px;
	height: 90px;
	background: url('Carts.png') no-repeat 0 0;
	z-index: 500;
	margin-top: -31px;
	margin-left: 800px;
}
#Content .Title H1,h2{
	display: block;
	position: absolute;
	font-weight: bold;
	font-size: 14px;
	color: #ECD714;
	padding-left: 7px;
	margin-left: 21px;
	margin-top: 14px;
	height: 18px;
	width: auto;
	background-repeat: repeat-x;
	background-position: 0 2px;
	border-radius: 3px;
	overflow: hidden;
	padding-right: 7px;
	background-color: #FF0004;
}

#Content .Title UL{
margin-left:328px;
 margin-top:10px;
 overflow:hidden;
 position:absolute;
 width:356px;
}
#Content .Title UL LI{
	float: right;
	margin-right: 10px;
}
#Content .Title UL LI A{
	font-size: 12px;
	color: #828282;
}
#Content .Title UL LI A:hover{
	text-decoration: none;
	color: #ed1c24;
}
#Content .Items{
	display: block;
	position: relative;
	min-height: 225px;
	background: url('Line.gif') repeat 0 0;
}
#Content .Products{
	display: block;
	position: relative;
	width: 100%;
	padding-bottom: 24px;
	background: url('Shadow.jpg') no-repeat 0 bottom;
}
.Products .Items{
	display: block;
	position: relative;
	padding-right: 250px;
	padding-left: 14px;
	//margin-right: 250px;
}
.Checkout .Items{
	padding-right: 0px;
	padding-left: 14px;
	display: block;
	position: relative;
	//margin-right: 0px;
}
.Products .Items LI, .Checkout .Items LI{
	display: block;
	position: relative;
	float: left;
	width: 210px;
	height: 210px;
	margin-left: 8px;
	margin-top: 8px;
	margin-bottom: 10px;
	border: 1px solid #000000;
	overflow: hidden;
}
.Checkout .Items LI{
	margin-right: 4px;
}
.Products .Items LI.Full, .Products .Items LI.VeryFull, .Checkout .Items LI.Full {
	border: 1px solid #a1a1a1;
	background: url('ItemHover.gif') no-repeat 0 0;
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    2px 2px 8px rgba(0, 0, 0, 0.3);
	box-shadow:         2px 2px 8px rgba(0, 0, 0, 0.3);
}
.Products .Big LI{
	width: 650px;
}
.Products .Big LI.Full{
	background-image: url('ItemHoverBig.gif');
}
.Products .Big LI.VeryFull{
	background-image: url('ItemHoverBigger.gif');
}
UL.Big LI IMG{
	width: 640px !important;
}

UL.Big LI IMG.bl{
	width: 640px !important;
	height: 200px !important;
	
}

UL.Big LI H3{
	width: 615px !important;
}
UL.Big LI P{
	width: 620px !important;
}
UL.Big LI P.blp{
	width: 290px !important;
}
UL.Big LI SPAN{
	margin-left: 455px !important;
}
UL.Big LI input.qty{
	margin-left: 585px !important;
}
UL.Big LI input.qty.blq{
	margin-left: 586px !important;
}
#Content .Big{
	background-image: url('LineBigger.gif');
	background-repeat: repeat-x;
}
#Content .bl{
	background-repeat: repeat-x;
}
.Products .Big LI.Bigger{
	height: 290px;	
}
UL.Items LI.VeryFull div IMG{
	height: 280px;
}
UL.Items LI.Bigger H3{
	margin-top: 200px;
}
UL.Big LI.Bigger P{
	margin-top: 215px;
	height: 45px;
}
UL.Items LI.Bigger IMG{
	height: 195px;
}
UL.Items LI.Bigger SPAN, 
UL.Items LI.Bigger input.qty, 
UL.Items LI.VeryFull input.qty, 
UL.Items LI.VeryFull SPAN{
	margin-top: 260px;
}

UL.Pizza LI H3 {
	margin-top: 103px !important;
}
UL.Pizza LI P {
    width: 211px;
    line-height: 9px !important;
    margin-top: 129px !important;
}
UL.Items LI IMG{
	position: absolute;
	height: 140px;
	width: 210px;
	margin-top: 0px;
	margin-left: 0px;
}
#hkard{
	height: 200px;
	
}
UL.Items LI H3{
	position: absolute;
	height: 33px;
	width: 195px;
	margin-top: 120px;
	margin-left: 5px;
	color: #FFF;
	font-size: 13px;
	font-weight: bold;
	overflow: hidden;
	line-height: 39px;
	
	
}

UL.Items LI H5{
	position: absolute;
	height: 33px;
	width: 205px;
	margin-top: 3px;
	margin-left: 15px;
	color: #f59b16;
	font-size: 13px;
	font-weight: bold;
	overflow: hidden;
	line-height: 12px;
	
	
}

UL.Items LI H3.bltitle{
	position: absolute;
	height: 33px;
	width: 195px;
	margin-top: 0px;
	margin-left: 367px;
	color: #f59b16;
	font-size: 13px;
	font-weight: bold;
	overflow: hidden;
}

UL.Items LI P{
	position: absolute;
	height: 50px;
	width: 211px;
	margin-top: 137px;
	margin-left: 5px;
	color: #989898;
	font-size: 7px;
	line-height: 11px;
	overflow: hidden;
	font-family: bicubik;
	line-height: 49px;
}

#pwok{
	margin-top: 19px;
	width: 198px;
	line-height: 10px;
	
}

UL.Items LI P.blp{
	position: absolute;
	height: 178px;
	width: 190px;
	margin-top: 5px;
	margin-left: 367px;
	color: #5d5d5d;
	font-size: 10px;
	line-height: 8px;
	overflow: hidden;
}
UL.Items LI SPAN{
	position: absolute;
	height: 0px;
	width: 180px;
	margin-top: 190px;
	margin-left: 5px;
	font-size: 10px;
	color: #303030;
}
UL.Items LI SPAN.blspan{
	position: absolute;
	height: 0px;
	width: 180px;
	margin-top: 180px;
	margin-left: 15px;
	left: 0px;
	font-size: 10px;
	color: #303030;
}

UL.Items LI SPAN B{
	font-size: 14px;
	color: #ff0000;
}
UL.Items LI input.qty{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 15px;
	background: #fff;
	border: 1px solid #a1a1a1;
	margin-top: 180px;
	margin-left: 145px;
	z-index: 9000;
	box-shadow: inset 0 10px 10px rgba(0,0,0,0.1);
}
UL.Items LI input.qty:focus{
	border-color: red;
	outline:none;
	box-shadow: none;
}
UL.Items LI.Full:hover input.qty, 
UL.Items LI.VeryFull:hover input.qty{
	display: block;
}
UL.Items LI .AddCart{
	position: absolute;
	height: 28px;
	width: 28px;
	margin-top: -5px;
	margin-left: 160px;
	background: url('AddCart.png') no-repeat 0 0;
	padding: 0;
	border: none;
	cursor: pointer;
}
UL.Items LI .AddCart:hover, 
UL.Items LI.Full .AddCart, 
UL.Items LI.VeryFull .AddCart {
	background: url('AddCart.png') no-repeat -28px 0;
}

UL.Items LI .AddCartbl{
	position: absolute;
	height: 28px;
	width: 28px;
	margin-top: -5px;
	margin-left: 160px;
	background: url('AddCart.png') no-repeat 0 0;
	padding: 0;
	border: none;
	cursor: pointer;
}
UL.Items LI .AddCartbl:hover, 
UL.Items LI.Full .AddCartbl, 
UL.Items LI.VeryFull .AddCartbl {
	background: url('AddCart.png') no-repeat -28px 0;
}


UL.Pizza LI .AddCart45{
	background: url('addcart-p.png') no-repeat -1px -44px;
	border: none;
	cursor: pointer;
	height: 41px;
	margin-left: 103px;
	margin-top: -19px;
	padding: 0;
	position: absolute;
	width: 41px;
	}

UL.Pizza LI .AddCart45:hover, UL.Pizza LI.Full .AddCart45 {
	background: url('addcart-p.png') no-repeat -44px -44px;
}

UL.Pizza LI .AddCart33{
	background: url('addcart-p.png') no-repeat 0px 0px;
	border: none;
	cursor: pointer;
	height: 41px;
	margin-left: -9px;
	margin-top: -22px;
	padding: 0;
	position: absolute;
	width: 41px;
	  }
UL.Pizza LI .AddCart33:hover {
	background: url('addcart-p.png') no-repeat -43px 0;
}



UL.Pizza LI .AddCart12{
	background: url('addcart-p1.png') no-repeat -1px -44px;
	border: none;
	cursor: pointer;
	height: 41px;
	margin-left: 153px;
	margin-top: -11px;
	padding: 0;
	position: absolute;
	width: 41px;
	}

UL.Pizza LI .AddCart12:hover, UL.Pizza LI.Full .AddCart12 {
	background: url('addcart-p1.png') no-repeat -44px -44px;
}

UL.Pizza LI .AddCart11{
	background: url('addcart-p1.png') no-repeat 0px 0px;
	border: none;
	cursor: pointer;
	height: 41px;
	margin-left: 119px;
	margin-top: -13px;
	padding: 0;
	position: absolute;
	width: 41px;
	  }
UL.Pizza LI .AddCart11:hover {
	background: url('addcart-p1.png') no-repeat -43px 0;
}




/* ------------------ */
UL.Items LI.Full div IMG{
	position: absolute;
	height: 210px;
	width: 210px;
	margin-top: 0px;
	margin-left: 0px;
	z-index: 10;
}
UL.Items LI.Full div,
UL.Items LI.VeryFull div{
	position: absolute;
	z-index: 2000;
	cursor: pointer;
}
UL.Items LI.Full div H3,
UL.Pizza LI.Full H3,
UL.Items LI.VeryFull div H3{
	position: absolute;
	height: 33px;
	width: 180px;
	margin-top: 15px !important;
	margin-left: 15px;
	color: red;
	font-size: 13px;
	font-weight: bold;
	overflow: hidden;
	display: block;
	padding-left: 5px;
	text-shadow: 0px 0px 8px white, 1px 1px 8px white, -1px -1px 8px white, 0px 0px 8px white, 1px 1px 8px white, -1px -1px 8px white;
}



UL.Items LI.Full div SPAN,
UL.Items LI.VeryFull div SPAN{
	position: absolute;
	height: 20px;
	width: 180px;
	margin-top: 180px;
	margin-left: 15px;
	font-size: 10px;
	color: #303030;
	display: block;
}
UL.Items LI.VeryFull div SPAN{
	margin-top: 260px;
}
UL.Items LI.Full div SPAN B,
UL.Items LI.VeryFull div SPAN B{
	font-size: 14px;
	color: #ff0000;
	padding-left: 5px;
	text-shadow: 0px 0px 8px white, 1px 1px 8px white, -1px -1px 8px white, 0px 0px 8px white, 1px 1px 8px white, -1px -1px 8px white;
}


UL.Items LI.Full div SPAN I,
UL.Items LI.VeryFull div SPAN I{
	position: absolute;
	height: 21px;
	width: 22px;
	margin-top: -3px;
	margin-left: 160px;
	background: url('AddCart.png') no-repeat 0 0;
	cursor: pointer;
}

UL.Items LI.Full P, 
UL.Items LI.Full H3, 
UL.Items LI.Full SPAN,
UL.Items LI.VeryFull P, 
UL.Items LI.VeryFull H3,
UL.Pizza LI.Full .AddCart33, 
UL.Items LI.VeryFull SPAN {
	display: none;
}
/* ------------------ */

#Cart{
	display: block;
	width: 250px;
	height: 524px;
	position: absolute;
	margin-left: 720px;
	//margin-left: -243px;
	margin-top: -10px;
	z-index: 10000;
	background: url('Cart.png') no-repeat 0 0;	
}
#Checkout{
	height: 436px;
	margin-left: 15px;
	margin-top: 67px;
	position: absolute;
	width: 213px;
	display: block;
}
#Checkout .Top{
	position: absolute;
	display: block;
	height: 16px;
	width: 212px;
	margin-top: 5px;	
	background: url('CartTop.gif') no-repeat 0 0;
	cursor: pointer;
	opacity: 0.2;
}
#Checkout .Bottom{
	position: absolute;
	display: block;
	height: 16px;
	width: 212px;
	margin-top: 305px;	
	background: url('CartBottom.gif') no-repeat 0 0;
	cursor: pointer;
	opacity: 0.2;
}
#ItemList{
	position: absolute;
	display: block;
	height: 284px;
	width: 212px;
	margin-top: 21px;
	overflow: hidden;
}
#ItemList dl{
	display: block;
	width: 212px;
	height: 56px;
	border-bottom: 1px solid #4B4B4B;
	color:white;
}
#ItemList dl.empty{
	border-bottom: none;
	height: auto;
	margin-top: 3px;
	margin-left: 9px;
}
#ItemList dl.empty dd{
	padding: 10px;
	color: #b3b3b3;
	font-size: 12px;	
}
#ItemList dl i{
	display: block;
	position: absolute;
	font-style: normal;
	text-align: center;
	margin-top: 3px;
	margin-left: 5px;
	width: 20px;
	height: 20px;
	background: url('cartbtn.png') no-repeat -72px 0;
	color: #fff;
	padding-top: 3px;
	font-size: 11px;
	z-index: 100;
}
#ItemList dl img{
	display: block;
	position: absolute;
	width: 85px;
	height: 45px;
	margin-top: 2px;
	margin-left: 2px;
	border: none;
}
#ItemList dl p{
	display: block;
	position: absolute;
	margin-left: 89px;
	font-size: 10px;
	height: 27px;
	margin-top: 2px;
	margin-right: 2px;
	overflow: hidden;
	line-height: 12px;
	
}
#ItemList dl b{
	display: block;
	position: absolute;
	font-size: 11px;
	color:red;
	margin-left: 89px;
	margin-top: 35px;
}
#ItemList dl ul{
	display: block;
	position: absolute;
	margin-left: 143px;
	margin-top: 32px;
}
#ItemList dl ul li{
	float: left;
	margin-right: 3px;	
}
#ItemList dl ul li a{
	width: 20px;
	height: 20px;
	display: block;	
	cursor: pointer;
	background-image: url('cartbtn.png');
	background-repeat: no-repeat;	
}
#ItemList dl ul li a.jcart-minus{
	background-position: 0px 0;
}
#ItemList dl ul li a.jcart-plus{
	background-position: -24px 0;
}
#ItemList dl ul li a.jcart-remove{
	background-position: -48px 0;
}
#ItemList dl ul li a.jcart-minus:hover{
	background-position: 0px -20px;
}
#ItemList dl ul li a.jcart-plus:hover{
	background-position: -24px -20px;
}
#ItemList dl ul li a.jcart-remove:hover{
	background-position: -48px -20px;
}

#Checkout .Total{
	position: absolute;
	display: block;
	height: 16px;
	width: 212px;
	margin-top: 325px;
	color:white;
	
}
#Checkout .Summ{
	text-align: center;
	margin-top: 5px;
	font-size: 12px;
}
#Checkout .Info{
	text-align: center;
	margin-top: 8px;
	font-size: 11px;
}
#Summ{
	color: #FF0000;
	font-size: 14px;
}
#jcart-checkout{
	display: block;
	margin: 0 auto;
	margin-top: 0px;
	height: 33px;
	width: 191px;
	background: url('Order.gif') no-repeat 0 0;
	cursor: pointer;
	padding: 0;
	border: none;
}
#jcart-checkout-ok{
	display: block;
	float: left;
	margin-top: 11px;
	margin-left:10px;
	height: 33px;
	width: 183px;
	background: url('OrderSend.gif') no-repeat 0 0;
	cursor: pointer;
	padding: 0;
	border: none;
}
#jcart-checkout[disabled]{
	opacity: 0.3;
	cursor: default;
}
.Clear{
	clear: both;
}

.Text{
	padding: 25px 60px 25px 60px;
	line-height: 19px;
	min-height: 70px;
	font-size: 13px;
	
}
#chtxt{
	padding: 25px 23px 25px 23px;

	
}

.Text-ak{
	padding: 25px 15px 25px 15px;
	line-height: 19px;
	min-height: 70px;
	font-size: 13px;
}
.Text p{
	margin-bottom: 20px;
}
.Text p img{
	border: 1px solid #a1a1a1;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
.Text .Right{
	text-align: right;
	float: right;
	color: #626262;
	padding-top: 5px;
}
.Text .Right b{
	color: red;
}

#Footer{
	display: block;
	position: relative;
	width: 928px;
	margin-left: 36px;
	height: 152px;
	/*background: url('Title.jpg') no-repeat 0 0;*/
}
.FooterLogo{
	display: block;
	position: absolute;
	width: 162px;
	height: 106px;
	margin-left: 745px;
	margin-top: 17px;
	background: url('FooterLogo.gif') no-repeat 0 0;
}
.FooterText{
	color: #959595;
	position: absolute;
	display: block;
	width: 733px;
	margin-top: 102px;
	text-align: right;	
}
.FooterText1{
	color: #959595;
	position: absolute;
	display: block;
	width: 700px;
	margin-top: 64px;
	margin-left: 26px;
	text-align: left;
	font-size: 10px;	
}
#MenuDown{
	display: block;
	height: 60px;
	width: 927px;
	position: absolute;
	background: url('/style/Title.jpg') no-repeat center top;
	margin-left: 0px;
}
#MenuDown UL{
	position: absolute;
	margin-top: 40px;
	margin-left: 10px;
}
#MenuDown UL LI{
	float: left;
	display: block;
	margin-left: -3px;
}
#MenuDown UL LI A{
	display: block;	
	height: 15px;
	width: auto;
	color: #0d004c;
	font-size: 10px;
}
#MenuDown UL LI A:hover, #MenuDown UL LI A.Sel{
	color: #ff0000;
}
#MenuDown UL LI A B{
	font-weight: normal;
}
.BoobleL{
	display: block;
	position: absolute;
	width: 35px;
	margin-left: 0px;
	bottom: 50px;
	top: 290px;
	text-align: center;
}
.BoobleR{
	display: block;
	position: absolute;
	width: 35px;
	margin-left: 965px;
	bottom: 50px;
	top: 290px;
	text-align: center;
}

.veskal{
	color: #b7b7b7;
	font-weight: normal;
	line-height: 19px;
}

.veskal1{
	color: #898989;
	font-weight: normal;
	line-height: 11px;
	
	
}

.veskal2{
	color: #898989;
	font-weight: normal;
	line-height: 43px;
	padding-top: 50px;
	padding-left: 28px;
	
	
	
}

.veskal3{
	color: #898989;
	font-weight: normal;
	line-height: 43px;
	padding-top: 50px;
	padding-left: 0px;
	
	
}


.commbl{
position:absolute; 
height: 0px;
padding-top: 46px;
padding-left: 28px;
font-size: 12px;
color: gray;
background: url('TitleNews.jpg') no-repeat 0 0;
}

.commbl2{
position:absolute; 
height: 0px;
padding-top: 11px;
padding-left: 317px;
font-size: 12px;
color: gray;
}

.blzagl{
	color: black;
	font-weight: normal;
	line-height: 16px;
	font-size: 12px;
	
	
}

.pizzaprice{
	font-weight: normal;
	color: #b7b7b7;
	line-height: 8px;
	font-size: 8px;
	margin-left: 0px;
	clear: both;
}

.pizzapricered{
	font-weight: bold;
	color: red;
	line-height: 9px;
	font-size: 10px;
	
}
.sdvig{
	font-size:25px;
	color: white;
}

.razmerp{
	color: #5D5D5D;
	font-weight: lighter;
	font-size: 9px;
}

.asrtbf{
	width: 690px;
	height: 450px;
	
}
.textdev{
	text-align: center;
	margin-left: 104px;
}
.SendQtyPersonG{
	width: 25px;
	border-color: #00CC66;
	border-style: solid;
	border-width: 2px;
	box-shadow: 0 0 2px #00CC66;

}

.SendQtyPersonE{
	width: 25px;
	border-color: #FF1E00;
	border-style: solid;
	border-width: 2px;
	box-shadow: 0 0 2px #FF1E00;

}


.NumOrder{
color: #ff0000;
font-size: 13px;
}

.numbtel{
margin-left: 231px;
padding-top:8px;
}


.kolvoperson
{
margin-left: 245px;
margin-top:5px;
}
.txtchkout
{
	margin-left: 23px;
}


#BestPrize {
	background: url(/img/info_prize.png) center center no-repeat;
	width: 412px;
	height: 225px;
	z-index: 200;
	left: 32%;
	top: 270px;
	position: absolute;
	display: none;
	
}

#krest {
	background: url(/img/redkrest.png) center center no-repeat;
	width: 32px; height: 31px;
	margin-right: 30px; margin-top: 20px;
	float: right;
}

/*-----validation START ----*/

.SendPhoneE {
	width: 116px;
	border-color: #FF1E00;
	border-style: solid;
	border-width: 2px;
	box-shadow: 0 0 2px #FF1E00;
	font-size: 13px;
}

.SendPhoneG {
	width: 116px;
	border-color: #00CC66;
	border-style: solid;
	border-width: 2px;
	box-shadow: 0 0 2px #00CC66;
	font-size: 13px;
}

.SendQtyPersonG{
	width: 25px;
	border-color: #00CC66;
	border-style: solid;
	border-width: 2px;
	box-shadow: 0 0 2px #00CC66;
	font-size: 13px;

}

.SendQtyPersonE{
	width: 25px;
	border-color: #FF1E00;
	border-style: solid;
	border-width: 2px;
	box-shadow: 0 0 2px #FF1E00;
	font-size: 13px;

}

#validEr {
	background: url(/style/info_valid.png) center center no-repeat;
	width: 412px;
	height: 225px;
	z-index: 200;
	left: 32%;
	top: 270px;
	position: absolute;
	display: none;
	
}

#krest {
	background: url(/style/redkrest.png) center center no-repeat;
	width: 32px; height: 31px;
	margin-right: 30px; margin-top: 20px;
	float: right;
}
.phc{
	color: red;
}
.text-ak-txt{
	margin-left: 311px;
	color:#B7B7B7;
	margin-right: 15px;
	font-size: 14px;
}
.edndaytext{
  color:#B7B7B7;
  font-size:13px;
  margin-left:33px;
  margin-right:31px;
  margin-top:82px;	
}
  
.datenew{
color:#B7B7B7;
font-size:13px;
margin-left: 734px;
}

.elgrandelink
{
background-image:url(/images/gif.gif);
  background-repeat:repeat repeat;
  height:0px;
  left:834px;
  top: 32px;
  position:relative;
  width:3px;
  border: 0px;
}

.elgrandelink2
{
background-color::green;
  background-repeat:repeat repeat;
  height:30px;
  left:834px;
  top: 32px;
  position:relative;
  width:30px;
  border: 0px;
}
.text-del{
font-size:13px;
  line-height:19px;
  min-height:70px;
  padding:17px 46px;
}

.rv{
	
	position:absolute;
	top:165px;
	left: 28px;
	height:50px;
	width:200px;
	}
.newhit{
background:url(/catalog/hit.png) no-repeat 0 0;
  height:52px;
  position:absolute;

  width:52px;
  margin-left:156px;
  margin-top:61px;
  z-index: 1;
  }

.newhit1{
background:url(/catalog/new.png) no-repeat 0 0;
  height:52px;
  position:absolute;
  width:52px;
  margin-left:156px;
  margin-top: 61px;
  z-index: 1;
  }

.newhit2{
background:url(/catalog/hit.png) no-repeat 0 0;
  height:52px;
  position:absolute;
  width:52px;
  margin-left:148px;
  margin-top: 54px;
  z-index: 1;
  }
.newhit3{
background:url(/catalog/new.png) no-repeat 0 0;
  height:52px;
  position:absolute;
  width:52px;
  margin-left:131px;
  margin-top: 61px;
  z-index: 1;
  }
.newhit4{
background:url(/catalog/hit.png) no-repeat 0 0;
  
  height:52px;
  
  
  position:absolute;
  width:52px;
 
  margin-left:130px;
  margin-top: 52px;
  z-index: 1;
  
}
.newhit5{
background:url(/catalog/veg.png) no-repeat 0 0;
  
  height:52px;
  
  
  position:absolute;
  width:52px;
 
  margin-left:130px;
  margin-top: 52px;
  z-index: 1;
  
}
.newhit6{
background:url(/catalog/veg.png) no-repeat 0 0;
  
  height:52px;
  
  
  position:absolute;
  width:52px;
 
  margin-left:150px;
  margin-top: 62px;
  z-index: 1;
  
}

.newhit7{
background:url(/catalog/veg.png) no-repeat 0 0;
  
  height:52px;
  
  
  position:absolute;
  width:52px;
 
  margin-left:114px;
  margin-top: 60px;
  z-index: 1;
  
}

.newhit8{
background:url(/catalog/veg.png) no-repeat 0 0;
  
  height:52px;
  
  
  position:absolute;
  width:52px;
 
  margin-left:134px;
  margin-top: 60px;
  z-index: 1;
  
}
.newhit9{
background:url(/catalog/fir.png) no-repeat 0 0;
  
  height:52px;
  
  
  position:absolute;
  width:52px;
 
  margin-left:160px;
  margin-top: 60px;
  z-index: 1;
  
}
.newhit10{
background:url(/catalog/shit.png) no-repeat 0 0;
  
  height:71px;
  
  
  position:absolute;
  width:52px;
 
  margin-left:150px;
  margin-top: 48px;
  z-index: 1;
  
}

.newhitwok{
background:url(/catalog/hit.png) no-repeat 0 0;
  
  height:71px;
  
  
  position:absolute;
  width:52px;
 
  margin-left:8px;
  margin-top: 108px;
  z-index: 1;
  
}

.newhitwok1{
background:url(/catalog/new.png) no-repeat 0 0;
  
  height:71px;
  
  
  position:absolute;
  width:52px;
 
  margin-left:8px;
  margin-top: 108px;
  z-index: 1;
  
}




.online {
  background-image:url(/images/vk.png);
  background-repeat:no-repeat no-repeat;
  height:126px;
  left:50px;
  position:relative;
  top:79px;
  width:184px;
}
.skorovcao {
  background-image:url(/images/);
  background-repeat:no-repeat no-repeat;
  height:66px;
  left:305px;
  position:relative;
  top:137px;
  width:333px;
}
a.usl {
  background-image:url(/images/regim.png);
  background-repeat:no-repeat no-repeat;
  height:147px;
  left:702px;
  position: absolute;
  top:0px;
  width:223px;
}
a:hover.usl {
  background-image:url(/images/regim_a.png);
 
}

a.usl1 {
  background-image:url(/images/regim1.png);
  background-repeat:no-repeat no-repeat;
  height:147px;
  left:702px;
  position: absolute;
  top:0px;
  width:223px;
}
a:hover.usl1 {
  background-image:url(/images/regim1_a.png);
 
}



.vk {
  height:70px;
  left:240px;
  position: absolute;
  top:181px;
  width:200px;
}



.blpolosa {
  background-image:url(/images/TitleNews.jpeg);
  background-repeat:no-repeat no-repeat;
  height:7px;
  position:relative;
  width:100%;
}

.blpolosa1 {
  background-image:url(/images/TitleNews.jpeg);
  background-repeat:no-repeat no-repeat;
  height:7px;
  position:relative;
  width:100%;
  top: -30px;
}

.blpolosa2 {
  background-image:url(/images/TitleNews.jpeg);
  background-repeat:no-repeat no-repeat;
  height:7px;
  position:relative;
  width:100%;
  top: -3px;
}

#wz {
	position: absolute;
	height: 33px;
	width: 205px;
	margin-top: 3px;
	margin-left: 15px;
	color: #f59b16;
	font-size: 13px;
	font-weight: bold;
	overflow: hidden;
	line-height: 12px;
	
	
}







.text_bottom {width: 260px; margin: 7px 0 10px 36px; text-align: left; float: left;}
.text_bottom h1 {color: red;}
.text_bottom span {color: #959595;}

.text_bottom_big {width: 420px;}
/*-----validation END ----*/


